<template>
  <!-- 
     Cada part de la pàg. web (header, nav, section, article, aside i footer) hauria de ser un component i
     a llavors els cridariem aquí com si fossin tag's HTML, ex: <elMeuNav> i a llavors dins del component
     elMeuNav estarà el codi del nav (etiqueta <nav> + ... podríem ficar tot el codi que aquí a baix tenim
     fins l'etiqueta <RouterView/>.) 
 -->
 <!-- 
     En mi opinión, la carpeta de componentes debe contener los componentes que se utilizarán en las vistas. 
     Y en las vistas, debe haber aquellas páginas a las que accederá el enrutador. Por ejemplo, tiene una barra
     de navegación (nav), un encabezado (header) y un pie de página (footer) en sus páginas para usar y tiene
     una página de inicio de sesión, una página de registro y una página principal. Luego, su src/components 
     debe contener encabezado, pie de página y barra de navegación. Y en su src/views debe haber archivos como
     inicio de sesión, registro y archivo principal 
 -->   
     <!--1: El nom del component és = {{this.$options.name}} <br>-->
     <header>
 
     </header>
 
     <nav>
         <navDrassana/>
     </nav>
 
     <section>
         <!--1: {{this.$options.name}}.section <br>-->
         <RouterView/>       <!-- Aquesta etiqueta és perquè pinti aquí la vista (view) que hem clickat
                                 de les disponibles en <router-link> (la "/" o la "/about")) -->    
         <!--2: {{this.$options.name}}.section <br>-->
     </section>
 
     <footer>
        <!--assets/xmls/naus_Star_Trek.xml-->
     </footer>
     <!--2: El nom del component és = {{this.$options.name}} <br>-->
     
 </template>
 
 
 <script>
     import { onMounted } from "vue";
     import {useStore} from "vuex";
     import navDrassana from "./components/navDrassana.vue";
 
     export default {
         name: "App",
         components: {
             navDrassana
         },
         setup() {
             // FEM SERVIR VUEX (STORE):
             const store = useStore();
 
             // HOOKS DE CICLE DE VIDA:
             onMounted(() => {
                 // Demanem els fitxers XML al servidor i els processem per enviar les seves
                 // dades a la store:
 
                 // EN public/ FEM LA CARPETA assets/xlms I ALLA FIQUEM ELS xml ALS QUALS
                 // VULGUEM TENIR ACCÉS.
                 store.dispatch('funcioCarregaNaus');
                 store.dispatch('funcioCarregaTripulants');
             });
         },
     }
 </script>
 
 
 <style>
     #app {
         font-family: Avenir, Helvetica, Arial, sans-serif;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         text-align: center;
         color: #2c3e50;
     }
 
     nav {
         padding: 30px;
     }
 
     nav a {
         font-weight: bold;
         color: #2c3e50;
     }
 
     nav a.router-link-exact-active {
         color: #42b983;
     }
 </style>