<template>
    <div>
        El nom del component és = {{this.$options.name}} <br>
    </div>
    <form action="">
      
    </form>
  </template>
  
  <script>
  export default {
    name: 'altaNauView',
    setup() {

    }
  }
  </script>

<style>

</style>