<template>
    <div>
        El nom del component és = {{this.$options.name}} <br>
    </div>
    <h3>Crear un compte gestionat amb la BD del firebase:</h3>
    <p><input type="text" placeholder="Email" v-model="email"/></p>
    <p><input type="password" placeholder="Contrasenya" v-model="password"/></p>
    <p><button @click="registrarTripulant">Donar d'alta</button></p>
</template>

<script>
import { ref } from 'vue';
import router from '@/router';
import { getAuth, createUserWithEmailAndPassword } from 'firebase/auth';
//import { create } from 'domain';

    export default {
        name: 'altaTripulantView',
        setup() {
            const email = ref("");
            const password = ref("");

            const registrarTripulant = () => {
                createUserWithEmailAndPassword(getAuth(), email.value, password.value).then((data) => {
                    console.log('Successfully registered!' + data);
                    alert("Tripulant donat d'alta.");
                    router.push("/benvingudaTripulantView");
                }).catch(error => {
                    console.log(error.code);
                    alert(error.message);
                });
            }
            return {email, password, registrarTripulant};
        }
    }
</script>