<template>
    <div>
        El nom del component és = {{this.$options.name}} <br><br>
        Usuari logejat = {{ usuari }} <br><br>
        <b>Aquesta pàgina només la poden veure els tripulants que s'hagin logejat.</b>
    </div>
</template>

<script>
import { ref } from 'vue';
import router from '@/router';
import { getAuth, onAuthStateChanged } from 'firebase/auth';
import { onBeforeUnmount } from 'vue';

    export default {
        name: 'benvingudaTripulantView',
        setup() {
            let usuari = ref("");

            const autentificaTripulant = onAuthStateChanged(getAuth(), function(user){
                if(!user) {
                    alert("Has d'estar logejat per veure aquesta view. Redireccionant a iniciarSessioTripulantsView.");
                    router.push("/iniciarSessioTripulantView");
                } else {
                    console.log("user = " + user.email);
                    usuari.value = user.email;
                }
            });

            onBeforeUnmount(() => {
                autentificaTripulant();
            })

            return {usuari};
        }
    }
</script>