<template>
    <div>
        El nom del component és = {{this.$options.name}} <br>
    </div>
    <nav>
         <navNaus/>
     </nav>
  </template>
  
  <script>
  import navNaus from '../components/navNaus.vue';
  export default {
    name: 'dadesTripulantView',
    components: {
      navNaus
    },
    setup() {

    }
  }
  </script>

<style>

</style>