<template>
    <div>
        <!--El nom del component és = {{this.$options.name}} <br>-->
    </div>
    <table border="1">
      <tr>
        <th>TRIPULANT</th>
        <th>DADES PERSONALS</th>
        <th>DADES PROFESSIONALS</th>
        <th>GUARDAR</th>
      </tr>
      <tr>
        <td>
                <a :href=tripulantByNom.web>
                  <img :src="'imatges/' + tripulantByNom.imatge" width="320"/>
                  <br>
                  {{tripulantByNom.nom}}
                </a>
                </td>
                <td>
                    <b>Nom:</b> {{tripulantByNom.nom}} <br>
                    <b>Cognom:</b> <input v-model="tripulantByNom.cognom" class="w-100" type="text"/> <br>
                    <b>Mare:</b> <input v-model="tripulantByNom.mare" class="w-100" type="text"/> <br> <br>
                </td>
                <td>
                    <b>Rang:</b> <input v-model="tripulantByNom.rang" class="w-100" type="text"/> <br>
                    <b>Afiliació:</b> <input v-model="tripulantByNom.afiliacio" class="w-100" type="text"/> <br><br>
                    <b>Ocupació:</b> <input v-model="tripulantByNom.ocupacio" class="w-100" type="text"/> <br>
                    <b>Nacionalitat:</b> <input v-model="tripulantByNom.nacionalitat" class="w-100" type="text"/> <br>
                </td>
                <td>
                    <button @click="modificarTripulant()">MODIFICAR</button>
                </td>
      </tr>
    </table>
  </template>
  
  <script>
  import store from "@/store";
  import {useStore} from "vuex";
  //import * as Firebase from "./../apiFirebase/index.js";
  
    export default {
        name: 'editarTripulant',
        props: {
            nom: String,
        },
        setup(props) {
        // Cargar state con naves cargadas
        const store = useStore();
        let tripulantByNom = store.getters.getDadesTripulant(props.nom);
        return {tripulantByNom}
        },
        methods: {
            modificarTripulant() {
                const newData = {
                    nom: this.tripulantByNom.nom,
                    cognom: this.tripulantByNom.cognom,
                    mare: this.tripulantByNom.mare,
                    rang: this.tripulantByNom.rang,
                    afiliacio: this.tripulantByNom.afiliacio,
                    ocupacio: this.tripulantByNom.ocupacio,
                    nacionalitat: this.tripulantByNom.nacionalitat
                };
                store.commit('mutationModificarTripulantDEBFirebase', newData);
                store.dispatch('modificarTripulantDeBDFirebase', newData);
                this.$router.push({ name: 'llistaTripulantsView' });
            }
        }
    }
    
  </script>
  
  <style>
  
  </style>