<template>
    <div>
      El nom del component és = {{ this.$options.name }} <br>
    </div>
    <table>
      <tr>
        <td>TONELATGE MÍNIM</td>
        <td><input type="text" v-model="tonelatgeMinim" /></td>
      </tr>
      <tr>
        <td>TONELATGE MÀXIM</td>
        <td><input type="text" v-model="tonelatgeMaxim" /></td>
      </tr>
      <tr colspan="2">
        <button @click="buscarNaus">Buscar naus filtrades per tonelatge en la BD Firebase</button>
      </tr>
    </table>
    <table v-if="naus.length > 0" border="1">
      <tr>
        <th>NAU</th>
        <th>VEURE DADES</th>
        <th>DADES GENERALS</th>
        <th>ARMAMENT</th>
        <th>SISTEMES DE DEFENSA</th>
        <th>UNITATS</th>
      </tr>
      <tr v-for="(nau, index) in naus" :key="index">
        <td>
                <a :href=nau.pag_web>
                  <img :src="'imatges/' + nau.imatge" width="320"/>
                  <br>
                  {{nau.nom}} ({{ nau.id }})
                </a>
                </td>
                <td>
                    <router-link :to="{name: 'veureDadesNau', params: {id: nau.id, nom: nau.nom}}">
                        <span>Veure les dades de la nau {{ nau.nom }} ({{ nau.id }})</span>
                    </router-link>
                </td>
                <td>
                    <b>Classe:</b> {{ nau.classe }} <br>
                    <b>Tipus:</b> {{ nau.tipus }} <br>
                    <b>Tonelatge:</b> {{ nau.tonelatge }} <br> <br>
                    <b>Tripulacio standart:</b> {{ nau.tripulacio_standart }} <br>
                    <b>Limit d'evacuacio:</b> {{ nau.limit_d_evacuacio }} <br><br>
                    <b>Velocitat de creuer:</b> {{ nau.velocitat_normal_de_creuer }} <br>
                    <b>Velocitat màxima:</b> {{ nau.velocitat_maxima_de_creuer }} <br><br>
                    <b>Temps de vida del casc:</b> {{ nau.temps_de_vida_del_casc }} {{ nau.temps_de_vida_del_casc_unitat }}<br>
                </td>
                <td>
                    <b>Fasers quantitat:</b> {{ nau.fasers_quantitat }} <br>
                    <b>Fasers potencia:</b> {{ nau.fasers_potencia }} <br><br>
                    <b>Torpedes quantitat de tubs:</b> {{ nau.torpedes_quantitat_tubs }} <br>
                    <b>Torpedes emmagatzemats:</b> {{ nau.torpedes_emmagatzemats }} <br>
                </td>
                <td>
                    <b>Potencia escuts:</b> {{ nau.potencia_escuts }} {{ nau.potencia_escuts_unitat }}<br>
                </td>
                <td>
                    <b>Quantitat construides:</b> {{ nau.quantitat_construides }} <br>
                    <b>Quantitat destruides:</b> {{ nau.quantitat_construides_destruides }} <br>
                </td>
      </tr>
    </table>
</template>

<script>
import { ref } from "vue";
import { useStore } from "vuex";

export default {
  name: 'llistaNausViewVsTonelatgeFirebaseView',
  setup() {
    const store = useStore();
    const tonelatgeMinim = ref('');
    const tonelatgeMaxim = ref('');
    const naus = ref([]);

    const buscarNaus = () => {
      const tonMin = parseInt(tonelatgeMinim.value);
      const tonMax = parseInt(tonelatgeMaxim.value);

      const tonelatgeMinimValid = isNaN(tonMin) ? 0 : tonMin;
      const tonelatgeMaximValid = isNaN(tonMax) ? 0 : tonMax;

      store.dispatch('carregarNausDeBDFirebaseVstonelatge', {
        tonelatgeMinim: tonelatgeMinimValid,
        tonelatgeMaxim: tonelatgeMaximValid
      }).then(() => {
        // Actualizar el valor de naus después de que se carguen los datos
        naus.value = store.state.nausDeBDFirebase;
      });
    };

    return { tonelatgeMinim, tonelatgeMaxim, naus, buscarNaus };
  }
}
</script>

<style>

</style>