<template>
  <div>
      <!--El nom del component és = {{this.$options.name}} <br>-->
  </div>
  <table border="1">
    <tr>
      <th>TRIPULANT</th>
      <th>EDITAR</th>
      <th>ESBORRAR</th>
      <th>DADES PERSONALS</th>
      <th>DADES PROFESSIONALS</th>
    </tr>
    <tr v-for="(tripulant, index) in tripulants" :key="index">
      <td>
              <a :href=tripulant.web>
                <img :src="'imatges/' + tripulant.imatge" width="320"/>
                <br>
                {{tripulant.nom}}
              </a>
              </td>
              <td>
                  <router-link :to="{name: 'editarTripulant', params: {nom: tripulant.nom}}">
                        <span>EDITAR</span>
                    </router-link>
              </td>
              <td>
                    <button @click="eliminarTripulant(tripulant.nom)">ESBORRAR</button>
              </td>
              <td>
                  <b>Nom:</b> {{ tripulant.nom }} <br>
                  <b>Cognom:</b> {{ tripulant.cognom }} <br>
                  <b>Mare:</b> {{ tripulant.mare }} <br> <br>
              </td>
              <td>
                  <b>Rang:</b> {{ tripulant.rang }} <br>
                  <b>Afiliació:</b> {{ tripulant.afiliacio }} <br><br>
                  <b>Ocupació:</b> {{ tripulant.ocupacio }} <br>
                  <b>Nacionalitat:</b> {{ tripulant.nacionalitat }} <br>
              </td>
    </tr>
  </table>
</template>

<script>
import store from "@/store";
import {useStore} from "vuex";
//import * as Firebase from "./../apiFirebase/index.js";

export default {
  name: 'llistaTripulantsView',
  setup() {
    // Cargar state con naves cargadas
    const store = useStore();
    const tripulants = store.state.tripulantsDeBDFirebase;
    return {tripulants};
  },
    methods: {
      eliminarTripulant(nom) {
        console.log("Eliminat: " + nom);
        store.commit('mutationEliminarTripulantDEBFirebase', nom);
        store.dispatch('eliminarTripulantDeBDFirebase', nom);
      }
    }
}

</script>

<style>

</style>