<template>
    <div>
        El nom del component és = {{this.$options.name}} <br>
    </div>
</template>

<script>
    export default {
        name: 'modificaTripulantView',
        setup() {

        }
    }
</script>