<template>
    <div>
        El nom del component és = {{this.$options.name}} <br>
    </div>
    <nav>
         <navNaus/>
     </nav>

     <section>
        <RouterView/>
     </section>
  </template>
  
  <script>
  import { onMounted } from 'vue';
  import { useStore } from 'vuex';
  import navNaus from '../components/navNaus.vue';
  export default {
    name: 'nausView',
    components: {
      navNaus
    },
    setup() {
      // FEM SERVIR VUEX (STORE)
      const store = useStore();

      onMounted(() => {
        // Demanem les dades de les naus a la BD del Firebase i
        // les enviem a la store (nausDeBDFirebase):
        store.dispatch('carregarNausDeBDFirebase');
      });

    }
  }
  </script>

<style>

</style>