<template>
    <div>
        El nom del component és = {{this.$options.name}} <br>
    </div>
    <nav>
         <navTripulants/>
     </nav>
     <section>
        <RouterView/>
     </section>
  </template>
  
  <script>
  import navTripulants from '../components/navTripulants.vue';
  import {useStore} from "vuex";
  export default {
    name: 'tripulantsView',
    components: {
      navTripulants
    },
    setup() {
      const store = useStore();
      store.dispatch('carregarTripulantsDeBDFirebase');
    }
  }
  </script>

<style>

</style>