<template>
    <div>
        El nom del component és = {{this.$options.name}} <br>
        $route.params.nom = {{ $route.params.nom }} <br>
        $route.params.id = {{ $route.params.id }} <br>
        props.id + props.nom: {{ id }} + {{ nom }} <br>
        nauTmp.nom = {{nauByID.nom}}
    </div>
    <table border="1">
      <tr>
        <th>NAU</th>
        <th>DADES GENERALS</th>
        <th>ARMAMENT</th>
        <th>SISTEMES DE DEFENSA</th>
        <th>UNITATS</th>
      </tr>
      <tr>
        <td>
                <a :href=nauByID.pag_web>
                  <img :src="'/imatges/' + nauByID.imatge" width="320"/>
                  <br>
                  {{nauByID.nom}} ({{ nauByID.id }})
                </a>
                </td>
                <td>
                    <b>Classe:</b> {{ nauByID.classe }} <br>
                    <b>Tipus:</b> {{ nauByID.tipus }} <br>
                    <b>Tonelatge:</b> {{ nauByID.tonelatge }} <br> <br>
                    <b>Tripulacio standart:</b> {{ nauByID.tripulacio_standart }} <br>
                    <b>Limit d'evacuacio:</b> {{ nauByID.limit_d_evacuacio }} <br><br>
                    <b>Velocitat de creuer:</b> {{ nauByID.velocitat_normal_de_creuer }} <br>
                    <b>Velocitat màxima:</b> {{ nauByID.velocitat_maxima_de_creuer }} <br><br>
                    <b>Temps de vida del casc:</b> {{ nauByID.temps_de_vida_del_casc }} {{ nauByID.temps_de_vida_del_casc_unitat }}<br>
                </td>
                <td>
                    <b>Fasers quantitat:</b> {{ nauByID.fasers_quantitat }} <br>
                    <b>Fasers potencia:</b> {{ nauByID.fasers_potencia }} <br><br>
                    <b>Torpedes quantitat de tubs:</b> {{ nauByID.torpedes_quantitat_tubs }} <br>
                    <b>Torpedes emmagatzemats:</b> {{ nauByID.torpedes_emmagatzemats }} <br>
                </td>
                <td>
                    <b>Potencia escuts:</b> {{ nauByID.potencia_escuts }} {{ nauByID.potencia_escuts_unitat }}<br>
                </td>
                <td>
                    <b>Quantitat construides:</b> {{ nauByID.quantitat_construides }} <br>
                    <b>Quantitat destruides:</b> {{ nauByID.quantitat_construides_destruides }} <br>
                </td>
      </tr>
    </table>
  </template>
  
  <script>
    import {useStore} from "vuex";
    export default {
      name: 'veureDadesNau',
      props: {
        nom: String,
        id: String
      },
      setup(props) {
        const store = useStore();
        let nauByID = store.getters.getDadesNau(props.id);
        return {nauByID}
      }
    }
  </script>

<style>

</style>