<template>
    El nom del component és = {{this.$options.name}} <br>
</template>
  
<script>
  export default {
    name: 'footerDrassana',
    setup() {

    },
  }
</script>
  

<style>

</style>
  