<template>
    El nom del component és = {{this.$options.name}} <br>
</template>
  
<script>
  export default {
    name: 'headerDrassana',
    setup() {
        
    },
  }
</script>
  

<style>

</style>
  