<template>
    <!--El nom del component és = {{this.$options.name}} <br>-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Drassana</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <router-link to="/" class="nav-link active" aria-current="page">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/about" class="nav-link active" aria-current="page">About</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/nausView" class="nav-link active" aria-current="page">Naus</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/tripulantsView" class="nav-link active" aria-current="page">Tripulants</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/reparacionsView" class="nav-link active" aria-current="page">Reparaciones</router-link>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</template>
  
<script>
  export default {
    name: 'navDrassana',
    setup() {

    },
  }
</script>
  

<style>

</style>
  