<template>
    El nom del component és = {{this.$options.name}} <br>
    <ul>
        <li>
            <router-link to="llistaNausView">Llista naus</router-link>
        </li>
        <li>
            <router-link to="altaNauView">Alta nau</router-link>
        </li>
        <li>
            <router-link to="modificaNauView">Modifica nau</router-link>
        </li>
    </ul>
</template>
  
<script>
  export default {
    name: 'navNaus',
    setup() {

    },
  }
</script>
  

<style>

</style>