<template>
    El nom del component és = {{this.$options.name}} <br>
    <ul>
        <li>
            <router-link to="llistaTripulantsView">Llista tripulants</router-link>
        </li>
        <li>
            <router-link to="/benvingudaTripulantView">Entrar sense logejar-se...</router-link>
        </li>
        <span v-if="isLoggedIn">
            <button @click="handleSignOut">Logout</button>
        </span>
        <span v-else>
            <li>
                <router-link to="/iniciarSessioTripulantView">Iniciar sessió tripulant contra BD de firebase</router-link>
            </li>
            <li>
                <router-link to="/altaTripulantView">Alta tripulant en BD de firebase</router-link>
            </li>
        </span>
        <li>
            <router-link to="altaTripulantView">Alta tripulant</router-link>
        </li>
        <li>
            <router-link to="modificaTripulantView">Modifica tripulant</router-link>
        </li>
    </ul>
</template>
  
<script>
    import { ref } from 'vue';
    import router from '@/router';
    import { getAuth, onAuthStateChanged, signOut } from 'firebase/auth';

    export default {
        name: 'navTripulants',
        setup() {
            const isLoggedIn = ref(true);

            onAuthStateChanged(getAuth(), function(user) {
                if(user) {
                    isLoggedIn.value = true;
                } else {
                    isLoggedIn.value = false;
                }
            });

            const handleSignOut = () => {
                signOut(getAuth());
                router.push("/iniciaSessioTripulantsView");
            }

            return {isLoggedIn, handleSignOut};
        },
    }
</script>
  

<style>

</style>